nav {
  width: 100vw;
  background-color: #0078c9;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  -webkit-text-decoration-color: yellow;
          text-decoration-color: yellow;
}

body {
  background-color: #0078c9;
  width: 100vw;
}

/*This are the main colors*/
/*This is for the nav*/
/*This is for the others*/
/*This is for the footer*/
/*This is for the logo*/
html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  /*This is for the main of the body*/
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #ADD8E6;
  -webkit-animation: mrmove 0.5s;
          animation: mrmove 0.5s;
  color: #00008b;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto;
      grid-template-columns: 30% auto;
  -ms-grid-rows: 60px 60px auto;
      grid-template-rows: 60px 60px auto;
      grid-template-areas: "hd hd" "main main" "footer footer";
}

@-webkit-keyframes mrmove {
  from {
    background: url("images/Toad.jpg");
  }
  to {
    background-color: #ADD8E6;
  }
}

@keyframes mrmove {
  from {
    background: url("images/Toad.jpg");
  }
  to {
    background-color: #ADD8E6;
  }
}

body header,
body main,
body footer {
  text-align: center;
}

body header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: hd;
}

body header nav {
  background-color: var(--background);
  position: fixed;
  -webkit-animation: changenav 3s;
          animation: changenav 3s;
  opacity: 0.94;
  background: url(images/ocean.png);
  background-size: cover;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  left: 0;
  width: 100%;
}

@-webkit-keyframes changenav {
  from {
    background: url(images/ocean.jpg);
    background-size: cover;
  }
  to {
    background: url(images/ocean.png);
    background-size: cover;
  }
}

@keyframes changenav {
  from {
    background: url(images/ocean.jpg);
    background-size: cover;
  }
  to {
    background: url(images/ocean.png);
    background-size: cover;
  }
}

body header nav nav ul {
  list-style: none;
  position: relative;
  display: -ms-grid;
  display: grid;
}

body header nav nav li {
  display: inline-block;
}

body header nav nav a {
  text-decoration: none;
  display: block;
  color: #fff;
  padding: .05em;
}

body header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav ul .navigation-item {
  display: inline-block;
  padding: 10px;
}

body header nav ul .navigation-item a {
  text-decoration: none;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav ul .navigation-item a:hover,
body header nav ul .navigation-item a:active {
  color: #ba20ee;
}

body main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  margin: 10%;
}

body main .flexLogo-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main .flexL-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main .flexR-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 0%;
  margin-left: 60vw;
}

body main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body main section article {
  display: -ms-grid;
  display: grid;
  font-family: 'Nanum Gothic', sans-serif;
}

body main section article .left {
  float: left;
}

body main section article .right {
  float: right;
}

body main section article h1 {
  margin: 100px;
  margin-bottom: 0%;
}

body main section article h2 {
  margin: 10vh;
  margin-bottom: 0%;
  margin-right: 90vw;
}

body main section article img {
  float: right;
  max-width: 90%;
  height: auto;
}

body main section article .p-left {
  text-align: left;
  text-decoration: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main section article .p-right {
  text-align: right;
  text-decoration: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main section article .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  margin: 5px 2px;
  border-radius: 50%;
}

body main section article .fa:hover {
  opacity: 0.7;
}

body main section article .fa-youtube {
  background: #bb0000;
  color: #f1f1f1;
}

body main section article .fa-instagram {
  background: #00bbff;
  color: #f1f1f1;
}

body main section article .fa-facebook {
  background: #3d02ffc9;
  color: #f1f1f1;
}

body main section article .fa-linkedin {
  background: #007bb5;
  color: #f1f1f1;
}

body footer {
  display: block;
  position: relative;
  background: #4a48b9;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

body .br {
  margin-top: 15%;
}

@media screen and (max-width: 700px) {
  body .nav-toggle-label {
    border: solid red;
  }
  body .nav-toggle-label span,
  body .nav-toggle-label span::before,
  body .nav-toggle-label span::after {
    background: white;
  }
  body .nav-toggle-label {
    display: none;
  }
  body .nav-toggle {
    display: none;
  }
  body .nav-toggle-label {
    border: solid red;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    border: 1px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .nav-toggle-label span,
  body .nav-toggle-label span::before,
  body .nav-toggle-label span::after {
    display: block;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
    background: white;
  }
  body .nav-toggle-label span::before,
  body .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  body .nav-toggle-label span::before {
    bottom: 7px;
  }
  body .nav-toggle-label span::after {
    top: 7px;
  }
  body .nav-toggle:checked ~ nav {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  body .nav-toggle:checked ~ nav a {
    opacity: 1;
    -webkit-transition: opacity 250ms ease-in-out 250ms;
    transition: opacity 250ms ease-in-out 250ms;
  }
  body nav li:hover {
    background: #444;
  }
  body nav li:hover .menu-sub {
    display: block;
  }
  body .menu-sub li {
    display: block;
  }
  body .menu-sub a {
    padding: 0;
    margin-bottom: .35em;
  }
  body .menu-sub a:hover {
    text-decoration: underline;
  }
  body .menu-category {
    margin: 2.5em;
  }
  body .menu-category:first-of-type {
    margin-top: 0;
  }
  body .menu-col-1 {
    float: left;
    width: 25%;
  }
  body .br_phone {
    margin: 15%;
  }
  body .container {
    margin-left: 250px;
  }
  body .card-container {
    margin: 100;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body section .card {
    max-width: 90%;
    height: 100vh;
    padding: 10px;
    color: white;
    background-color: #00008b;
    background-position: 100%;
    border: 1px solid;
    -webkit-box-shadow: 5px 10px 5px;
            box-shadow: 5px 10px 5px;
  }
  body section .img-card {
    background-color: #00008b;
    max-width: 75%;
    max-height: 100%;
    padding: 20px;
  }
  body section .skilltainer {
    width: 500%;
    margin-left: 50px;
    border-radius: 10px;
    background-color: #ddd;
    -webkit-animation: fullin 3s;
            animation: fullin 3s;
  }
  body section .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: white;
  }
  body section .html {
    width: 90%;
    background-color: #ff8b07;
  }
  body section .css {
    width: 70%;
    background-color: #2196F3;
  }
  body section .js {
    width: 35%;
    background-color: #dad703;
  }
  body section .php {
    width: 60%;
    background-color: #b100fd;
  }
  body footer {
    margin-top: 425vh;
    height: 125px;
    width: 250vw;
  }
}

@media screen and (min-width: 1200px) {
  body .flexL-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 20px;
  }
  body .container {
    margin-left: 475px;
  }
  body .card-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .img-card {
    background-color: #00008b;
    max-width: 75%;
    max-height: 100%;
    padding: 20px;
  }
  body .card {
    width: 20vw;
    height: 60vh;
    padding: 20px;
    color: white;
    background-color: #00008b;
  }
  body .skilltainer {
    width: 1000%;
    margin-left: 50px;
    border-radius: 10px;
    background-color: #ddd;
  }
  body .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: white;
  }
  body .html {
    width: 90%;
    background-color: #ff8b07;
  }
  body .css {
    width: 70%;
    background-color: #2196F3;
  }
  body .js {
    width: 35%;
    background-color: #dad703;
  }
  body .php {
    width: 60%;
    background-color: #b100fd;
  }
  body footer {
    margin-top: 450vh;
    height: 100px;
  }
}
/*# sourceMappingURL=styles.css.map */