@import "_partial.scss";


/*This are the main colors*/

$friend: #A9A9A9;
$main: #ADD8E6;
$sub: #00008b;

/*This is for the nav*/
$widthnav: 100%;

/*This is for the others*/
$width: 100vw;
$text: white;
$resultcolor: purple;
$img: 90%; 

/*This is for the footer*/
$marginfooter: 200vw;
$marginheight1200: 100px;
$marginheight600: 125px;
$widthfooter: 100vw;

/*This is for the logo*/
$logocolor: #f1f1f1;

body {
/*This is for the main of the body*/
font-family: 'Nanum Gothic', sans-serif;
  background-color: $main;
  color: $sub;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 60px 60px;
  grid-template-areas:
    "hd hd"
    "main main"
    "footer footer";
    

  header,
  main,
  footer {
    text-align: center;
  }

header {
  grid-area: hd;

  
  nav {
    padding: 2px;
    position: fixed;
    opacity: 0.94;
    background-color: $friend;
    width: $widthnav;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .navigation-item {
        display: inline-block;
        padding: 10px;

        a {
          text-decoration: none;
          color: $text;
          justify-content: space-between;
          align-items: center;
        }


        a:hover,
        a:active {
          color: $sub;
          color: $resultcolor;
          animation-name: colorchange;
        }
        
      }
    }
  }
}


  main {
    grid-area: main;
    margin: 10%;

    .flexL-container{
      flex-direction: row;
      justify-content: flex-start;
      }

      
    .flexR-container{
      flex-direction: row;
      justify-content: flex-end;
      }


    section {
      display: flex;
  

      .container{
        display: flex;      
        flex-direction: row;  
        justify-content: center;   
      }  

      article {
        display: grid;
        font-family: 'Nanum Gothic', sans-serif;
        //This is for the project


    

        h1{
          margin: 100px;
          margin-bottom: 0%;
        }

        h2{
          margin: 10vh;
          margin-bottom: 0%;
          margin-right: 90vw;
        }


        .img-card{
          background-color: #00008b;
          max-width: 70%;
          max-height: 100%;
          padding: 20px;
      }
        img{
          align-content: left;
          max-width: $img;
          height: auto;
        }

        .p-left{
          float: left;
          margin-right: 100%;
          flex-direction: row;
          justify-content: flex-start;
          }

          
        .p-right{
          float: right;
          margin-right: 100%;
          flex-direction: row;
          justify-content: flex-start;
          }
  
        

  

        //This is for the logo's.      
          
          
  
          .fa{  
            padding: 20px; 
            font-size: 30px;
            width: 30px;
            margin: 5px 2px;
            border-radius: 50%;
          
          }

          .fa:hover{
            opacity: 0.7;
          }
          
          
          
          .fa-youtube {    
          background: #bb0000;        
          color: $logocolor;  
         
          }
          
          
          
          .fa-instagram {       
          background: #00bbff;         
          color: $logocolor;   
               
          }
          
          
          
          .fa-facebook {     
          background: #3d02ffc9;         
          color: $logocolor; 
      
          }

          .fa-linkedin {      
            background: #007bb5;       
            color: $logocolor; 
             
            }
      
      }
    }
  }

  footer{
    display: block;
    position: relative;
    background: rgb(74, 72, 185);  
    grid-area: footer;
  }

  .br{
  margin-top: 15%;
  }

  @media screen and (max-width: 600px) {
    .br_phone{
    margin: 15%;
    }

    .container{
      margin-left: 75px;
    }

    .card-container{
      margin: 100;
      flex-direction: row;
      justify-content: space-between;
      }

    section{
    .card{
      max-width: 90%;
      height: 100vh;
      padding: 10px;
      color: white;
      background-color: #00008b;
      background-position: 100%;
      }
  }
     footer{
        margin-top: 600vh;
        height: $marginheight600;
        width: 150vw;
      }
}

@media screen and (min-width: 1200px) {
  //This one is for the contact
  .container{
    margin-left: 450px;
  }
// This is for the project
  .card-container{
    flex-direction: row;
    justify-content: space-between;
    }

    
    .card{
      width: 20vw;
      height: 60vh;
      padding: 20px;
      color: white;
      background-color: #00008b;
      }

      //This is for the height of the footer
  footer {
    margin-top: 615vh; 
    height: $marginheight1200;
  }  
}


}