@import "_partial.scss";


/*This are the main colors*/

$friend: #A9A9A9;
$main: #ADD8E6;
$sub: #00008b;

/*This is for the nav*/
$widthnav: 100%;

/*This is for the others*/
$width: 100vw;
$text: white;
$resultcolor: purple;
$img: 90%; 

/*This is for the footer*/
$marginfooter: 200vw;
$marginheight1200: 100px;
$marginheight600: 125px;
$widthfooter: 100vw;

/*This is for the logo*/
$logocolor: #f1f1f1;

body {
/*This is for the main of the body*/
font-family: 'Nanum Gothic', sans-serif;
  background-color: $main;
  color: $sub;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 60px 60px;
  grid-template-areas:
    "hd hd"
    "main main"
    "footer footer";
    

  header,
  main,
  footer {
    text-align: center;
  }

header {
  grid-area: hd;

  
  nav {
    padding: 2px;
    position: fixed;
    opacity: 0.9;
    background-color: $friend;
    width: $widthnav;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .navigation-item {
        display: inline-block;
        padding: 10px;

        a {
          text-decoration: none;
          color: $text;
          justify-content: space-between;
          align-items: center;
        }


        a:hover,
        a:active {
          color: $sub;
          color: $resultcolor;
          animation-name: colorchange;
          @keyframes colorchange {
            from {
              color: $text;
            }
          
            to {
              color: $resultcolor;
            }
          }
        }
        
      }
    }
  }
}


  main {
    grid-area: main;
    margin: 10%;

    section {
      display: flex;

.card-container{
  flex-direction: row;
  justify-content: space-between;
  }
  
  .grid-container{
    flex-direction: row;
    justify-content: space-between;
    }
      

      article {
        display: grid;
        font-family: 'Nanum Gothic', sans-serif;
        //This is for the project
  
  .card{
    width: 20vw;
    height: 60vh;
    padding: 20px;
    color: white;
    }
    

        h1{
          margin: 100px;
          margin-bottom: 0%;
        }

        h2{
          margin: 10vh;
          margin-bottom: 0%;
          margin-right: 90vw;
        }
        .position{
          margin-right: 90vw;
        }

        img{
          max-width: $img;
          height: auto;
          .img-card{
            width: 250px;
            height: 250px;
            padding: 20px;
        }
        }


  

        //This is for the logo's.

        .container{
          display: flex;        
          flex-direction: column;  
          justify-content: center;
          align-items: center;      
          column-gap: 2px;
        }        
          
          
          
          
          .fa{         
            padding: 20px;
            font-size: 30px;
            width: 30px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 50%;
          
          }

          .fa:hover{
            opacity: 0.7;
          }
          
          
          
          .fa-youtube {    
          background: #bb0000;        
          color: $logocolor;         
          }
          
          
          
          .fa-instagram {       
          background: #00bbff;         
          color: $logocolor;         
          }
          
          
          
          .fa-facebook {     
          background: #3d02ffc9;         
          color: $logocolor; 
          }

          .fa-linkedin {      
            background: #007bb5;       
            color: $logocolor; 
            }
      
      }
    }
  }

  footer{
    display: block;
    position: relative;
    background: rgb(155, 85, 169);  
    grid-area: footer;
  }

  @media screen and (max-width: 600px) {
      footer{
        margin-top: 350vh;
        height: $marginheight600;
      }

    
  }

@media screen and (min-width: 1200px) {
  footer {
    margin-top: 150vw; 
    height: $marginheight1200;
  }  
}


}