* {
    box-sizing: border-box;
}

body {
        font-family: sans-serif;
        background-color: #ADD8E6;
        color: #00008b;
        margin: 0;
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-rows: 60px 60px;
        grid-template-areas: 
        "hd hd"
        "main main"
        "footer footer";

}

header,
main,
footer {
    padding: 16px;
    text-align: center;
    margin: 100px;
}

header{
    grid-area: hd;
    background-color: #A9A9A9
}


footer {
    grid-area: 16px;
    background: black;
}

.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation-item a {
    text-decoration: none;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.navigation-item a:hover,
.navigation-item a:active {
    color: #00008b;
}
/*This is how for the title like <h1>*/
h1 {
    display: flex;
    justify-content: center;
}



/* This is for the positionating the cards.*/
.card-container{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.card{
width: 20vw;
background-color: #00008b;
height: 60vh;
padding: 20px;
color: white;
}

.img-card{
    width: 250px;
    height: 250px;
    padding: 20px;
}




